

    *{
  box-sizing: border-box;
}

body{
    background-color: #1A0B2E;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
}
.inter-class{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.btn-gradient{
font-size: 1rem;
color:#FFFFFF;
font-weight:600;
 background: linear-gradient(
    to right,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 12px  16px;
  border-radius: 10000px;
  display: flex; 
  gap: 4px;
  justify-content: center;
  border: none;
}
p{
    opacity: 0.8;
    font-size: 1rem;
}
.green{
    color:#00FF88;
    font-weight:900;
    font-size: 3rem;
}
.small-green{
    font-size:16px;
    font-weight: 600;
    color: #00FF88;

}
.title{
    font-size: 1.5rem;
    font-weight: 700;
}
.less-opacity{
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
}
.section-head{
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
 }

/* navbar related styling */

nav{
    width: 100%;
    display: flex;
   justify-content: space-between;
    border-bottom: 1px solid #412567;
margin:0px;
gap:19%;
padding:16px 12.5% ;

}
nav .menu{
    font-weight: medium;
    font-size: 1rem;
  display: flex;
  gap:32px;
  align-items: center;
   
}
 nav .menu a{
    text-decoration: none;
    color: #FFFFFF;
 }
 nav a{
    text-decoration: none;
 }
 nav .hamburger{
    display: none;
 }

 /*hero related styling*/

.banner{ 
    width: 100%;
    max-width: 1600px;
    height: auto;
     background-image: url(./assets/hero-bg.png);
     background-repeat: no-repeat;
     background-position: center;
     background-size: contain;
     display: grid;
     justify-content: center;
     align-items: center;
     
} 
.banner  .banner-container{
    display: flex;
    flex-direction: column;
    position: relative;
   width: 550px;
   height: auto;
   margin: 101px 525px;
 }
 .banner .banner-container .banner-images{
    position: relative;
 width: 350px;
 height: auto;
 top: 140px;
margin: 0px 100px 40px;
transition: 2s ease-out 1s;
aspect-ratio: 1/2;
 }
 .hero-circle{
    position:absolute; 
    
 }
 .negative-margin{
    position:absolute;
   left:115px;
   top: 80px;
   /* top: 20%;
  left: 30%; */
 }
 .negative-margin:hover{
    transform: rotate(-45deg)scale(1.25);
 }

 .new{
    background-color:#00FF88;
    color:#1A0B2E;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 1000px;
    width: 75px;
    height: 38px;
    position:relative;
    left: 340px;
    top: 160px;
 }
 .banner-text{
    width: 100%;
    max-width:550px;
   height: auto;
    text-align: center;
 }
 .banner-text .title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
 }
 .banner-text p{
    font-weight:400;
    font-size: 1rem;
    text-align: left;
 }
 .banner .banner-container .banner-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    /* width:365px;
   height: 44px; */
   margin-top: 24px;


 }
 #Subscribe{
    background-color: transparent;
    color:#00FF88;
    border:1px solid #00FF88;
    width: 147px;
    height: 44px;
    display:flex;
    gap:8px;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 10000px;
 }
 #spotify-button{
    border-radius:10000px ;
    padding: 12px 20px;
    gap:8px;
    width:201px;
    height:44px;
 }
 
 /* About Section Styling */
 .about-section{
    padding:50px 200px;
 }
.about-text{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

 .about-info{
    margin-top:160px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    margin-bottom: 70px;
 }

/* Why CHOOSE  Section styling */
.choose-section{
    text-align: center;
}
.card1{
grid-area:audio ;
max-width: 380px;
max-height: 480px;
/* width: 31.6%;
height: 61.3%; */
}
.card2{
grid-area:mobile ;
max-width: 790px;
max-height: 225px;
/* width: 65.83%;
height: 28.73%; */
}
.card3{
grid-area:global ;
max-width: 790px;
max-height: 225px;
}
.card4{
grid-area:exclusive ;
max-width: 790px;
max-height: 273px;
/* width: 31.6%;
height: 34.86%; */
}
.card5{
grid-area: rich;
max-width: 380px;
max-height: 273px;
/* width: 65.83%;
height: 34.86%; */
}
.card-section{
    display: grid;
    gap: 30px;
margin-top:40px ;
grid-template-columns: repeat(6,1fr);
    grid-template-areas: 
    "audio audio mobile mobile  mobile mobile"
    "audio audio    global  global global global "
    "exclusive exclusive exclusive  exclusive rich rich"
   "exclusive exclusive exclusive  exclusive rich rich";
}
.card{
    display: grid;
    gap: 16px;
    padding:40px 40px;
    border-radius: 40px;
    background-color: #351165;
    text-align: left;
}

/* Featured Section  related styling*/

.featured-section{
    padding: 120px 5%;
    width: 100%;
}
.episodes{
    display: flex;
    max-width: 1200px;
   height: auto;
    justify-content: center;
  margin-top: 40px;
  gap:20px;
}
.episode-embed-card{
    background-color: #250D44;
        max-width: 380px;
        width: 32%;
    height: 480px;
border-radius: 10px;
}
.episode-embed-card iframe{
    width: 100%;
    height: 50%;
}
.card-info{
 
    padding: 15px;
}

/* Host-Section */

.host-part{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 120px 200px;
    gap: 40px;
    
}
.host-intro{
    display:flex;
    gap: 24px;
    max-width: 1200px;
    height: auto;
 background-color: #351165;
  border-radius: 40px;
  padding: 40px;
}
.host-intro .name{
    font-size: 2rem;
    font-weight: 700;
}
.intro-text{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.host-icons{
    display: flex;
    gap: 8px;
    
}
.host-icons .icon{
    width: 40px;
    height: 40px;
    border-radius: 1000px;
   border: 1px solid #533C72;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img{
    margin: 20px;
}

/* Footer styling */

footer{
     background-image: url("assets/footer-bg.png");
     background-position: center;
    background-size: cover;
     width: 100%;
     padding: 120px;
}
 .icons{
display: flex;
gap: 24px;
}
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  text-align: center;
}
.footer-container img{
    max-width: 410px;
}
.icons img{
    width:24px;
    height: 24px;
    
}
.grey{
    filter: grayscale(100%) brightness(500%) ;
}
ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
ul li{
    list-style: none;  
}
.icons ul li a {
  display: flex;
   gap: 5px;
   opacity: 0.8;
   text-decoration: none;
    font-size: 500;
    font-size: 1rem;
color: #FFFFFF;

align-items: center;
justify-content: center;
}
.last-text{
    font-size: 1rem;
    opacity: 0.6;
    font-weight: 400;
}
 /* Responsive  */


 @media screen and (max-width:576px) {
    nav{
        padding:16px 4.7%;
    }
 nav .menu ,#Subscribe-btn{
display: none;
    }
    nav .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        width:24px;
        height:24px;
    }

    .banner{
        padding: 40px 20px;
    }
    .banner-container{
        margin: 0px 100px 24px;
    }
 .banner-text p{
    text-align: center;

 }
    .about-section{
        padding: 40px 20px;
    }
    
    .about-text{
        margin-bottom: 80px;
    }
    .about-info{
        grid-template-columns: repeat(2,1fr);
    gap: 40px;
    }

    .choose-section{
        padding: 40x 20px;
    }
    .card-section{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "exclusive"
        "rich";
        gap: 16px;
    }
    .card{
        padding: 24px;
        gap: 16px;
    }
    .featured-section{
        padding: 40px 20px 60px;;
    }
    .episodes{
display: grid;
    align-items: center;     
    gap: 10px;

}
.episode-embed-card{
    width: 100%;
}

/* 
HOST_PART */
.host-intro{
    flex-direction: column;
}
.footer{
     background-image: url("assets/footer-bg.png");
     background-position: center;
    background-size: cover;
     width: 100%;
     padding: 120px;
}
 .icons{
display: flex;
gap: 24px;
}
.footer-container img{
    max-width: 410px;
}
.icons img{
    width:24px;
    height: 24px;
    
}

ul{
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}
.last-text{
    text-align: left;
}
 }

 @media screen and (max-width:992px) and (min-width:576px) {
        nav{
        padding:16px 4.7%;
    }
 nav .menu ,#Subscribe-btn{
display: none;
    }
    nav .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        width:24px;
        height:24px;
    }

    .banner{
        padding: 40px 20px;
    }
    .banner-container{
        margin: 0px 100px 24px;
    }
 .banner-text p{
    text-align: center;

 }
    .about-section{
        padding: 40px 20px;
    }
    
    .about-text{
        margin-bottom: 80px;
    }
    .about-info{
        grid-template-columns: repeat(2,1fr);
    gap: 40px;
    }

    .choose-section{
        padding: 40x 20px;
    }
    .card-section{
        grid-template-columns: repeat(1,1fr);
        grid-template-areas: 
        "audio"
        "mobile"
        "global"
        "exclusive"
        "rich";
        gap: 16px;
    }
    .card{
        padding: 24px;
        gap: 16px;
    }
    .featured-section{
        padding: 40px 20px 60px;;
    }
    .episodes{
display: grid;
    align-items: center;     
    gap: 10px;

}
.episode-embed-card{
    width: 100%;
}

/* 
HOST_PART */
.host-intro{
    flex-direction: column;
}
.footer{
     background-image: url("assets/footer-bg.png");
     background-position: center;
    background-size: cover;
     width: 100%;
     padding: 120px;
}
 .icons{
display: flex;
gap: 24px;
}
.footer-container img{
    max-width: 410px;
}
.icons img{
    width:24px;
    height: 24px;
    
}

ul{
    grid-template-columns: repeat(2,1fr);
    gap: 16px;
}
.last-text{
    text-align: left;
}
 }