

    *{
  box-sizing: border-box;
}

body{
    background-color: #1A0B2E;
    color: #FFFFFF;
    margin: 0;
}
.inter-class{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.btn-gradient{
font-size: 1rem;
color:#FFFFFF;
font-weight:600;
 background: linear-gradient(
    to right,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 12px  16px;
  border-radius: 10000px;
  display: flex; 
  gap: 4px;
  justify-content: center;
  border: none;
}
p{
    opacity: 0.8;
}
.green{
    color:#00FF88;
    font-weight:900;
    font-size: 48px;
}
/* navbar related styling */

nav{
    width: 100%;
    display: flex;
   justify-content: space-between;
    border-bottom: 1px solid #412567;
margin:0px;
gap:19%;
padding:16px 12.5% ;

}
nav .menu{
    font-weight: medium;
    font-size: 1rem;
  display: flex;
  gap:32px;
  align-items: center;
   
}
 nav .menu a{
    text-decoration: none;
    color: #FFFFFF;
 }
 nav a{
    text-decoration: none;
 }
 nav .hamburger{
    display: none;
 }

 /*hero related styling*/
.banner{
    padding-top:101px;
    padding-bottom: 101px;
     background-image: url(assets/hero-bg.png);
}
 .banner-container{
    width:34.37%;
    max-width: 550px;
    height:73.42%;
    max-height: 558px;
      margin-left: 32.81%;
 }
 .banner-images{
      border:2px solid red;
 width:63.6%;
 height: 62.7%;
 max-width: 350px;
 max-height: 350px;
margin: 0 auto;
 }
 .negative-margin{
margin-left: -225px;
margin-top: -5px;
/* margin-left: -50%;
margin-top: -30%; */
 }
 
 .banner-text{
    width:100%;
    margin-top: 40px;
    text-align: center;
 }
 .banner-text .title{
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
 }
 .banner-text p{
    font-weight:400;
    font-size: 1rem;
    text-align: left;
 }
 .banner .banner-container .banner-buttons{
    display:flex;
    /* justify-content: center;
    align-items: center; */
    gap: 4px;
    width:365px;
   height: 44px;
margin:0 auto;
 }
 #Subscribe{
    background-color: transparent;
    color:#00FF88;
    border:1px solid #00FF88;
    width: 147px;
    height: 44px;
    display:flex;
    gap:8px;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 20px;
    border-radius: 10000px;
 }
 #spotify-button{
    border-radius:10000px ;
    padding: 12px 20px;
    gap:8px;
    width:201px;
    height:44px;
 }
 
 /* About Section Styling */
 .about-section{
    padding:50px 12.5%;
 }
.about-text{
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
 .section-head{
    font-weight: bold;
    font-size: 48px;
 }
 .about-info{
    margin-top:160px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
    margin-bottom: 70px;
 }



 /* Responsive  */
 @media screen and (max-width:576px) {
    nav{
        padding:16px 4.7%;
    }
 nav .menu ,#Subscribe-btn{
display: none;
    }
    nav .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
        width:24px;
        height:24px;
    }
    .about-section{
        padding: 40px 20px;
    }
    
    .about-text{
        margin-bottom: 80px;
    }
    .about-info{
        grid-template-columns: repeat(2,1fr);
    gap: 40px;
    }

} 

