

    *{
  box-sizing: border-box;
}

body{
    background-color: #1A0B2E;
    color: #FFFFFF;
    margin: 0;
}
.inter-class{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
.btn-gradient{
font-size: 1rem;
color:#FFFFFF;
font-weight:600;
 background: linear-gradient(
    to right,
    #F7E93F 0%,
    #FB09B4 51%,
    #9100F8 100%
  );
  padding: 12px  16px;
  border-radius: 10000px;
  display: flex; 
  gap: 4px;
  justify-content: center;
  border: none;
}

/* navbar related styling */
nav{
    width: 100%;
    display: flex;
   justify-content: space-between;
    border: 1px solid #412567;
margin:0px;
padding: 16px 200px ;

}
nav .logo{
  margin:14px 314px 14px 0px;

}
nav .menu{
    font-weight: medium;
    font-size: 1rem;
  display: flex;
  gap:32px;
  align-items: center;

     
}
 nav .menu a{
    text-decoration: none;
    color: #FFFFFF;

 }
 nav a{
    text-decoration: none;
 }
 #Subscribe-btn{
  margin: 8px 0px 8px 314px;
 }


